node_modules/
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/


# production 빌드할 때를 제외하고 ignore 필수

.env
GoogleService-Info.plist
firebaseConfig.js
environment.js

# macOS
.DS_Store
