<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>478430295721-i2snov6f7d7dtj0p43h55lidfs4n8kuj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.478430295721-i2snov6f7d7dtj0p43h55lidfs4n8kuj</string>
	<key>API_KEY</key>
	<string>AIzaSyA9kiHxlnyF8igGLk_PZ-qteqb2Wq6yTZo</string>
	<key>GCM_SENDER_ID</key>
	<string>478430295721</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.swadpia.notificationprototype</string>
	<key>PROJECT_ID</key>
	<string>notification-aa618</string>
	<key>STORAGE_BUCKET</key>
	<string>notification-aa618.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:478430295721:ios:9a0bae73342f529ccf9bb8</string>
</dict>
</plist>